.container {
  @include row();
  &.view-container {
    margin-top: 20px;
  }
}

.container-inner {
  @include row(true);
}

.grid-cell {
  @include col;

  @include bp("mobileonly") {
    @include col(1);
  }
  @include bp("tablet") {
    @include col(1/2);
  }
  @include bp("laptop") {
    @include col(1/3);
  }
  @include bp("desktop") {
    @include col(1/4);
  }

  &.full {
    @include col(1);
  }

  &.one-half {
    @include bp("mobileonly") {
      @include col(1);
    }
    @include bp("tablet") {
      @include col(1/2);
    }
  }

  &.one-third {
    @include bp("mobileonly") {
      @include col(1);
    }
    @include bp("tablet") {
      @include col(1/3);
    }
  }

  &.two-thirds {
    @include bp("mobileonly") {
      @include col(1);
    }
    @include bp("tablet") {
      @include col(2/3);
    }
  }

  &.no-padding {
    @include col;

    @include bp("mobileonly") {
      @include col(1, false);
    }
    @include bp("tablet") {
      @include col(1/2, false);
    }
    @include bp("laptop") {
      @include col(1/3, false);
    }
    @include bp("desktop") {
      @include col(1/4, false);
    }
  }
}
