/** GRID MIXINS */
/* Row */
@mixin row($inside: false) {
  @if($inside == true) {
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
  }
  @else {
    width: 100%;
    max-width: $wrapper;
    margin-left: auto;
    margin-right: auto;
  }
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* Column */
@mixin col($width: 1, $padding: true, $padding-value: $gutter) {
  float: left;
  width: percentage($width);
  @if($padding == true) {
    padding: $padding-value/2;
  }
  @else {
    padding: 0;
  }
}

@mixin push($width: 0) {
  position: relative;
  left: percentage($width);
}

@mixin pull($width: 0) {
  position: relative;
  right: percentage($width);
}

/** FONT/TYPE MIXINS */
@mixin default-font-family() {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin arial-narrow() {
  font-family: "Arial Narrow", Arial, sans-serif;
}

/** BREAKPOINT MIXINS */
@mixin bp($point) {
  @if $point == desktop {
    @media only screen and (min-width: 70em) { @content ; }
  }
  @else if $point == laptop {
    @media only screen and (min-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media only screen and (min-width: 50em) { @content ; }
  }
  @else if $point == mobileonly {
    @media only screen and (max-width: 37.5em)  { @content ; }

  }
}
