/* LAYOUT
================================== */
// Grid
$wrapper: 66rem;
$gutter: 1rem;

/* COLORS
================================== */
$primary: #300f00;
$secondary: #f99d31;
$ternary: #e64699;
$complimentary: #e1e1e1;
$primary-text: #3d3d3d;
$secondary-text: $complimentary;


/* TYPE
================================== */
$base-font-size: 16px;
