<header ng-cloak>
  <div class="container">
    <div class="grid-cell one-half">
        <h1 id="main-title" class="container"><%= appName %></h1>
    </div>
    <div class="grid-cell one-half">

      <ul class="utility-nav">
        <% if (session.me.id) { %>
          <li class="nav-item">
            <span class="welcome-message">Welcome, <%= session.me.firstName %>!</span>
          </li>
          <li class="nav-item">
            <md-button class="md-primary" ng-href="/myProfile">My Profile</md-button>
          </li>
          <li class="nav-item">
            <md-button class="md-primary" ng-href="/logout">Logout</md-button>
          </li>
        <% } else { %>
          <li class="nav-item">
            <md-button class="md-primary" ng-href="/login">Login</md-button>
          </li>
          <li class="nav-item">
            <md-button class="md-primary" ng-href="/signup">Signup</md-button>
          </li>
        <% } %>
      </ul>

    </div>
  </div>
  <div class="container">
    <ul class="primary-nav">
      <li class="nav-item <% if(viewIndex === 0) { %> active <% } %>">
        <a href="/">Welcome</a>
      </li>
      <li class="nav-item <% if(viewIndex === 1) { %> active <% } %>">
        <a href="/users">Users</a>
      </li>
      <li class="nav-item <% if(viewIndex === 2) { %> active <% } %>">
        <a href="/contacts">Contacts</a>
      </li>
      <li class="nav-item <% if(viewIndex === 3) { %> active <% } %>">
        <a href="/images">Images</a>
      </li>
    </ul>

  </div>
</header>
