<%- partial ('partials/header.ejs') %>

<section class="container view-container" ng-controller="BaseCtrl" ng-cloak>
  <div class="grid-cell two-thirds">
    <% if (session.me.id) { %>
      <h3>All Contacts</h3>
      <md-list class="contacts-list">
        <md-list-item class="md-3-line"
                      ng-repeat="contact in contacts"
                      ng-click="launchContact(contact, $event)">
          <i class="fa fa-2x"
             ng-class="{'fa-phone': contact.type == 'home', 'fa-mobile': contact.type == 'mobile', 'fa-building': contact.type == 'work',  'fa-envelope': contact.type == 'email'}"></i>
          <div class="md-list-item-text">
            <p> {{ contact.type }} </p>
            <h3> {{ contact.value }} </h3>
            <p> Owner Id: {{ contact.user.id || 'No Owner' }} </p>
          </div>
          <i class="md-secondary fa fa-pencil-square-o ">
            <md-tooltip md-direction="left">
              Click row to manage contact
            </md-tooltip>
          </i>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    <% } else { %>
      <h3>Login in to manage contacts</h3>
    <% } %>
  </div>
  <div class="grid-cell one-third" ng-controller="CreateContactsCtrl">
    <% if (session.me.id) { %>
      <div class="content-panel" ng-cloak>
        <h3>Create Contacts</h3>
        <form name="createContactsForm" ng-submit="createContactSubmit($event)">

          <md-input-container class="form-element">
            <label>Contact Owner</label>
            <md-select ng-model="userSelector">
              <md-option ng-repeat="user in users" value="{{user.id}}">
                {{ user.firstName + ' ' + user.lastName }}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="form-element radio-selector">
            <label class="heading">Select Contact Type</label>
            <md-radio-group ng-model="contactType" layout="row" layout-align="start center">
              <md-radio-button value="mobile" class="md-primary" checked>Mobile</md-radio-button>
              <md-radio-button value="work" class="md-primary">Work</md-radio-button>
              <md-radio-button value="home" class="md-primary">Home</md-radio-button>
              <md-radio-button value="email" class="md-primary">Email</md-radio-button>
            </md-radio-group>
          </md-input-container>

          <md-input-container class="form-element radio-selector-value">
            <label>Enter {{ contactType }} Value</label>
            <input name="contactValue" type="text" ng-model="contactValue"/>
          </md-input-container>

          <br>
          <md-button class="md-raised md-primary" type="submit">Submit</md-button>

        </form>
      </div>
    <% } %>
  </div>
</section>
