<%- partial ('partials/header.ejs') %>

<section class="container view-container" ng-controller="BaseCtrl" ng-cloak>
  <div class="grid-cell full">
    <h1>Welcome...</h1>
    <p>TODO: Some introductory info or something can go here!</p>
  </div>
</section>
