<%- partial ('partials/header.ejs') %>

<section class="container view-container" ng-controller="BaseCtrl" ng-cloak>
  <div class="grid-cell two-thirds">
    <% if (session.me.id) { %>
      <h3>All Images</h3>
      <ul>
        <li ng-repeat="image in images">
          <img src="{{ image.path }}" />
        </li>
      </ul>
    <% } else { %>
      <h3>Login in to manage images</h3>
    <% } %>
  </div>
  <div class="grid-cell one-third" ng-controller="UploadImageCtrl">
    <% if (session.me.id) { %>
    <div class="content-panel" ng-cloak>
      <h3>Upload Images</h3>
      <form name="uploadImageForm" enctype="multipart/form-data" ng-submit="uploadImage($event)">

        <md-input-container class="form-element">
          <label>Image Owner</label>
          <md-select ng-model="userSelector">
            <md-option ng-repeat="user in users" value="{{user.id}}">
              {{ user.firstName + ' ' + user.lastName }}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="form-element">
          <label>Image Caption</label>
          <input name="img-caption" type="text" ng-model="imgCaption"/>
        </md-input-container>

        <md-input-container class="form-element">
          <label>Choose Image</label>
          <input id="file" name="image" type="file"/>
        </md-input-container>

        <br>
        <md-button class="md-raised md-primary" type="submit">Submit</md-button>
      </form>
    </div>
    <% } %>
  </div>
</section>
