<%- partial ('partials/header.ejs') %>

<section class="container view-container" ng-controller="BaseCtrl" ng-cloak>
  <div class="grid-cell two-thirds">
    <% if (session.me.id) { %>
      <h3>All Users</h3>
      <md-list class="users-list">
        <md-list-item class="md-3-line"
                      ng-repeat="user in users"
                      ng-click="launchUser(user, $event)">
          <i class="fa fa-2x fa-user"></i>
          <div class="md-list-item-text">
            <h3> {{ user.firstName }} </h3>
            <h4> {{ user.lastName }} </h4>
            <p> User Id: {{ user.id }} </p>
          </div>
          <i class="md-secondary fa fa-pencil-square-o ">
            <md-tooltip md-direction="left">
              Click row to manage user
            </md-tooltip>
          </i>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    <% } else { %>
      <h3>Login in to manage users</h3>
    <% } %>
  </div>
  <div class="grid-cell one-third" ng-controller="CreateUserCtrl">
    <% if (session.me.id) { %>
      <div class="content-panel" ng-cloak>
        <h3>Create Users</h3>
        <form name="createUserForm" ng-submit="createUserSubmit($event)">
          <md-input-container class="flex form-element">
            <label>First Name</label>
            <input name="firstName" ng-model="firstName" type="text" required/>
          </md-input-container>

          <md-input-container class="flex form-element">
            <label>Last Name</label>
            <input name="lastName" ng-model="lastName" type="text" required/>
          </md-input-container>

          <md-input-container class="flex form-element">
            <label>Email Address</label>
            <input name="email" ng-model="email" type="email" required/>
          </md-input-container>

          <md-input-container class="flex form-element">
            <label>Password</label>
            <input name="password" ng-model="password" type="password" required/>
          </md-input-container>

          <br>
          <md-button class="md-raised md-primary" type="submit">Submit</md-button>

        </form>
      </div>
    <% } %>
  </div>

</section>
