<%- partial ('../partials/header.ejs') %>

<section class="container view-container" ng-cloak>
  <div class="grid-cell full">
    <h1>Login</h1>
    <form action="/login" method="post">

      <md-input-container class="form-element">
        <label>Email Address</label>
        <input name="email" type="text"/>
      </md-input-container>
      <md-input-container class="form-element">
        <label>Password</label>
        <input name="password" type="password"/>
      </md-input-container>

      <br>
      <md-button class="md-raised md-primary" type="submit">Submit</md-button>
    </form>
  </div>
</section>
