<%- partial ('../partials/header.ejs') %>

<section class="container view-container" ng-controller="BaseCtrl" ng-cloak>
  <% if (session.me.id) { %>
    <h1>My Profile</h1>
    <div class="grid-cell two-thirds">
      <div class="profile-card container">
        <div class="grid-cell two-thirds">
          <div class="avatar-container">
            <i class="fa fa-2x fa-user"></i>
          </div>
          <form name="uploadAvatarForm" enctype="multipart/form-data" method="post" action="/uploadAvatar">
            <md-input-container class="form-element">
              <label>Choose Image</label>
              <input id="fileSelector" name="avatar" type="file"/>
            </md-input-container>
            <br>
            <md-button class="md-raised md-primary" type="submit">Submit</md-button>
          </form>
        </div>
        <div class="grid-cell two-thirds">
          <div class="profile-info">
            <label>First Name:</label> <%= session.me.firstName %>
            <br>
            <label>Last Name:</label> <%= session.me.lastName %>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-cell one-third">
      SIDE RAIL
    </div>
  <% } else { %>
    <h4>Login to view your profile</h4>
  <% } %>
</section>
