<%- partial ('../partials/header.ejs') %>

<section class="container view-container" ng-cloak>
  <div class="grid-cell full">
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
      <div layout="row">
        <div layout="column" flex="50">
          <md-input-container class="form-element">
            <label>First Name</label>
            <input name="firstName" type="text" required/>
          </md-input-container>
        </div>
        <div layout="column" flex="50">
          <md-input-container class="form-element">
            <label>Last Name</label>
            <input name="lastName" type="text" required/>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="50">
          <md-input-container class="form-element">
            <label>Email Address</label>
            <input name="email" type="email" required/>
          </md-input-container>
        </div>
        <div layout="column" flex="50">
          <md-input-container class="form-element">
            <label>Password</label>
            <input name="password" type="password" required/>
          </md-input-container>
        </div>
      </div>

      <md-button class="md-raised md-primary" type="submit">Submit</md-button>
    </form>
  </div>
</section>
