<md-dialog aria-label="Manage Contact" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Manage Contact</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="updateContactForm">

          <md-input-container class="flex form-element">
            <label>Contact ID (read only)</label>
            <input name="id" ng-model="currentContact.id" type="number" disabled/>
          </md-input-container>

          <md-input-container class="form-element">
            <label>Contact Owner</label>
            <md-select ng-model="currentContact.user.id">
              <md-option ng-repeat="user in users" value="{{user.id}}">
                {{ user.firstName + ' ' + user.lastName }}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="form-element radio-selector">
            <label class="heading">Contact Type</label>
            <md-radio-group ng-model="currentContact.type" layout="row" layout-align="start center">
              <md-radio-button value="mobile" class="md-primary">Mobile</md-radio-button>
              <md-radio-button value="work" class="md-primary">Work</md-radio-button>
              <md-radio-button value="home" class="md-primary">Home</md-radio-button>
              <md-radio-button value="email" class="md-primary">Email</md-radio-button>
            </md-radio-group>
          </md-input-container>

          <md-input-container class="flex form-element">
            <label>Contact Value</label>
            <input name="value" ng-model="currentContact.value" type="text" required/>
          </md-input-container>

        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="/contacts">
        Manage This Contact's User
      </md-button>
      <span flex></span>
      <md-button ng-click="updateContact(currentContact)" md-autofocus>
        Update
      </md-button>
      <md-button ng-click="deleteContact(currentContact.id)">
        Delete
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
