<md-dialog aria-label="Manage User" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Manage User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="updateUserForm">
          <md-input-container class="flex form-element">
            <label>User ID (read only)</label>
            <input name="id" ng-model="currentUser.id" type="number" disabled/>
          </md-input-container>
          <md-input-container class="flex form-element">
            <label>First Name</label>
            <input name="firstName" ng-model="currentUser.firstName" type="text" required/>
          </md-input-container>
          <md-input-container class="flex form-element">
            <label>Last Name</label>
            <input name="lastName" ng-model="currentUser.lastName" type="text" required/>
          </md-input-container>
          <md-input-container class="flex form-element">
            <label>Email Address</label>
            <input name="email" ng-model="currentUser.email" type="text" required/>
          </md-input-container>
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="/contacts">
        Manage This User's Contacts
      </md-button>
      <span flex></span>
      <md-button ng-click="updateUser(currentUser)" md-autofocus>
        Update
      </md-button>
      <md-button ng-click="deleteUser(currentUser.id)">
        Delete
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
