header {

  .nav-item {
    list-style: none;
    float: left;

    &.active {
      color: red;
      font-weight: bold;
    }
  }

  .primary-nav {
    padding-left: .60em;
    .nav-item {
      margin-right: 1em;
    }
  }

  .utility-nav {
    float: right;
    .nav-item .welcome-message {
        display: block;
        font-weight: bold;
        font-style: italic;
        margin-top: 12px;
    }
  }
}
