.profile-card {
  .avatar-container {
    background-color: #ccc;
    border: 2px solid #333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;

    i {
      font-size: 60px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -24px;
      margin-top: -30px;
    }
  }
}
